<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="../static/leaflet/leaflet.css">
    <script type="text/javascript" src="../static/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="../static/leaflet-grayscale-master/TileLayer.Grayscale.js"></script>
    <script type="text/javascript" src="../static/js/leaflet.rotatedMarker.js"></script>
    <script type="text/javascript" src="../static/Leaflet.MovingMarker-master/MovingMarker.js"></script>
    <script type="text/javascript" src="../static/leaflet.bouncemarker-master/bouncemarker.js"></script>
    <script type="text/javascript" src="../static/reconnecting-websocket-master/reconnecting-websocket.js"></script>
    <style>
        .map {
            width: 640px;
            height: 640px;
        }

        @keyframes fade {
            from {
                opacity: 0.5;
            }
        }

        .tako {
            animation: fade 0.5s infinite alternate;
        }
    </style>
</head>
<body>
<div id="map" class="map"></div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        console.log('start');

// -------------------------------------------------------------------------------------------------
        class Profeel {
            constructor(name, callsign, imo, AISclass, shipType) {
                this.name = name;
                this.callsign = callsign;
                this.imo = parseInt(imo);
                this.AISclass = AISclass;
                this.shipType = shipType;
            }
        }

        class Location {
            constructor(lon, lat, sog, hdg, sv) {
                this.lon = parseFloat(lon);
                this.lat = parseFloat(lat);
                this.sog = parseFloat(sog);
                this.hdg = parseInt(hdg);
                this.sv = sv;
            }
        }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        class Vessel {
            constructor(mmsi, profeel, location, at) {

                const self = this; // mmm ...

                this.at = at;
                this.profeel = profeel;
                this.location = location;
                this.showme = false;
                this.counter = 0;

                const img = profeel.AISclass === 'A' ? '../static/imgs/kaniS.png' : '../static/imgs/kameS.png';
                this.icon = L.icon({
                    iconUrl: img,
                    // className: 'tako',
                });

                this.marker = L.Marker.movingMarker([[this.location.lat, this.location.lon]], [], {
                    icon: this.icon,
                    rotationAngle: 0,
                    bounceOnAdd: true,
                    bounceOnAddOptions: {
                        height: 32,
                        duration: 500,
                        loop: 1,
                    },
                });
                this.marker.setOpacity(0.25);
                this.marker.bindPopup(this.profeel.name, {});
                this.marker.bindTooltip(this.profeel.name, {});
                this.marker.on('click', function(e){
                    console.log('counter = ' + self.counter); // Wao!
                });
            }
        }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        class Main {
            constructor() {
                this.isWindowActive = true;
                this.vessel = {};
                this.baseLatLng = [1.236104, 103.835729];

                this.map = L.map('map');
                this.map.setView(this.baseLatLng, 14);
                this.map.on('click', function (e) {
                    console.log(e);
                    this.panTo(e.latlng);  // Wao!
                    // e.target.wm.setLatLng(e.latlng);
                    console.log(this);
                });

                this.tileLayer = L.tileLayer.grayscale('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                });
                this.tileLayer.addTo(this.map);

                // this.woman = L.icon({
                //     iconUrl: "../static/images/woman.gif",
                //     iconSize: [64, 64]
                // });
                // this.wm = L.marker(this.baseLatLng, {icon: this.woman});
                // this.wm.addTo(this.map);
            }

// ---------------------------------------------------------------------
            append(mmsi, p, l, at) {
                if (mmsi in this.vessel) {

                } else {
                    const profeel = new Profeel(p.name, p.callsign, p.imo, p.AISclass, p.shipType);
                    const location = new Location(l.lon, l.lat, l.sog, l.hdg, l.sv);
                    const vessel = new Vessel(mmsi, profeel, location, at);
                    vessel.marker.addTo(this.map);
                    this.vessel[mmsi] = vessel;
                    console.log('+++ ' + mmsi + '(' + profeel.name + ')' + ' was debut');
                }
            }

// ---------------------------------------------------------------------
            move(mmsi, location) {
                if (mmsi in this.vessel) {
                    const target = this.vessel[mmsi];
                    target.counter++;
                    const duration = target.profeel.AISclass === 'A' ? 500 : 1000;
                    const opacity = location.sog > 1.5 ? 1.0 : 0.5;
                    target.marker.setOpacity(opacity);
                    target.marker.setRotationAngle(location.hdg);
                    const lonlat = L.latLng(location.lat, location.lon);
                    if (this.isWindowActive) {
                        target.marker.moveTo(lonlat, duration);
                        // target.marker.className = 'tako';
                        // target.marker.bounce({duration: 100, height: 16, loop: 1});
                        // console.log(mmsi + ' ' + target.counter);
                    } else {
                        target.marker.setLatLng(lonlat);
                    }
                }
            }

// ---------------------------------------------------------------------
            expire(mmsi) {
                if (mmsi in this.vessel) {
                    this.map.removeLayer(this.vessel[mmsi].marker);
                    delete this.vessel[mmsi];
                    console.log('--- ' + mmsi + ' was retired');
                }
            }
        }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// -------------------------------------------------------------------------------------------------
        const main = new Main();
// -------------------------------------------------------------------------------------------------
        jQuery.ajax({
            url: 'shiplist',
            type: 'GET',
            dataType: 'json',
        }).done(function (data) {
            // console.log(data);
            for (let k in data) {
                const vessel = new Vessel(k, data[k].profeel, data[k].location, data[k].at);
                // main.vessel[k] = vessel;
                // vessel.marker.addTo(main.map);
                main.append(k, data[k].profeel, data[k].location, data[k].at)
            }
        });
// -------------------------------------------------------------------------------------------------

        const w = jQuery(window);
        w.on('focus', function (e) {
            main.isWindowActive = true;
            console.log('Active');
        });
        w.on('blur', function (e) {
            main.isWindowActive = false;
            console.log('not Active');
        });

        const wsURL = 'ws://' + location.host + '/ws'
        const ws = new ReconnectingWebSocket(wsURL);
        ws.onmessage = function (message) {
            const data = JSON.parse(message.data);
            const mmsi = data.mmsi;
            const type = data.type;
            switch (type) {
                case 'debut':
                    main.append(mmsi, data.profeel, data.location, data.at);
                    break;
                case 'live':
                    main.move(mmsi, data.location);
                    break;
                case 'retire':
                    main.expire(mmsi);
                    break;
                default:
                    break;
            }
        }
    });
</script>
</body>
</html>