<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="../static/leaflet/leaflet.css">
    <script type="text/javascript" src="../static/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="../static/leaflet-grayscale-master/TileLayer.Grayscale.js"></script>
    <script type="text/javascript" src="../static/js/leaflet.rotatedMarker.js"></script>
    <script type="text/javascript" src="../static/Leaflet.MovingMarker-master/MovingMarker.js"></script>
    <script type="text/javascript" src="../static/leaflet.bouncemarker-master/bouncemarker.js"></script>
    <script type="text/javascript" src="../static/reconnecting-websocket-master/reconnecting-websocket.js"></script>
    <style>
        .map {
            width: 1024px;
            height: 768px;
        }

        @keyframes fade {
            from {
                opacity: 0.5;
            }
        }

        .tako {
            animation: fade 0.5s infinite alternate;
        }
    </style>
</head>
<body>
<div id="map" class="map"></div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        console.log('start');

// -------------------------------------------------------------------------------------------------
        class Profeel {
            constructor(name, callsign, imo, AISclass, shipType) {
                this.name = name;
                this.callsign = callsign;
                this.imo = parseInt(imo);
                this.AISclass = AISclass;
                this.shipType = shipType;
            }
        }

        class Location {
            constructor(lon, lat, sog, hdg, sv) {
                this.lon = parseFloat(lon);
                this.lat = parseFloat(lat);
                this.sog = parseFloat(sog);
                this.hdg = parseInt(hdg);
                this.sv = sv;
            }
        }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        class Vessel {
            // constructor(mmsi, profeel, location, at) {
            constructor() {

                const self = this; // mmm ...

                this.at = new Date();
                this.P = false;
                this.L = false;
                this.counter = 0;

                this.icon = L.icon({
                    iconUrl: '../static/imgs/question.png',
                    iconSize: [16, 16],
                });
                this.marker = L.Marker.movingMarker([[0, 0]], [], {
                    icon: this.icon,
                    rotationAngle: 0,
                    bounceOnAdd: true,
                    bounceOnAddOptions: {
                        height: 32,
                        duration: 500,
                        loop: 1,
                    },
                });
                this.marker.setOpacity(0.25);
                this.stopicon = L.icon({
                    iconUrl: '../static/imgs/notEnter.png',
                });
            }

            setProfeel(profeel) { //console.log(profeel)
                this.profeel = profeel;
                if (this.P === false) {
                    this.P = true;
                    let img = '../static/imgs/kaniS.png';
                    if (profeel.AISclass !== 'A') {
                        img = '../static/imgs/ant.png';
                    } else {
                        if ((profeel.shipType / 10) === 8) {
                            img = '../static/imgs/oil.png';
                        } else if ((profeel.shipType / 10) === 7) {
                            img = '../static/imgs/kameS.png';
                        } else if ((profeel.shipType / 10) === 5) {
                            img = '../static/imgs/rocket.png';
                        } else if ((profeel.shipType / 10) === 3) {
                            img = '../static/imgs/55.png';
                        } else if ((profeel.shipType / 10) === 6) {
                            img = '../static/imgs/smile.png';
                        }
                    }
                    const newIcon = L.icon({iconUrl: img}); //console.log(newIcon)
                    this.icon = newIcon; // console.log(this.icon)
                }
            }

            setLocation(location) {
                this.location = location;
                this.counter++;
                if (this.L === false) {
                    this.L = true;
                }
            }
        }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        class Main {
            constructor() {

                const self = this; // mmm ...

                this.isWindowActive = true;
                this.vessel = {};
                this.baseLatLng = [1.236104, 103.835729];

                this.map = L.map('map');
                this.map.setView(this.baseLatLng, 14);
                this.map.on('click', function (e) {
                    this.panTo(e.latlng);  // Wao!
                    console.log(Object.keys(self.vessel).length); // never forget!
                });

                this.tileLayer = L.tileLayer.grayscale('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                });
                this.tileLayer.addTo(this.map);

                // this.woman = L.icon({
                //     iconUrl: "../static/images/woman.gif",
                //     iconSize: [64, 64]
                // });
                // this.wm = L.marker(this.baseLatLng, {icon: this.woman});
                // this.wm.addTo(this.map);
            }

            setProfeel(mmsi, profeel) {
                if (mmsi in this.vessel) {

                } else {
                    this.vessel[mmsi] = new Vessel()
                }
                this.vessel[mmsi].setProfeel(profeel);
                this.vessel[mmsi].marker.addTo(this.map);
                // console.log('+++ ' + mmsi + ' = ' + profeel.name);
            }

            setLocation(mmsi, location) {
                if (mmsi in this.vessel) {

                } else {
                    this.vessel[mmsi] = new Vessel()
                }
                this.vessel[mmsi].setLocation(location);
                // console.log('+++ ' + mmsi + ' = ' + profeel.name);
            }

// ---------------------------------------------------------------------
            append(mmsi, location) {
                if (mmsi in this.vessel) {

                } else {
                    const vessel = new Vessel();
                    this.setLocation(mmsi, location);
                    vessel.marker.addTo(this.map);
                    this.vessel[mmsi] = vessel;
                    // console.log('+++ ' + mmsi + ' was debut');
                }
            }

// ---------------------------------------------------------------------
            move(mmsi, location) { //console.log(location)
                if (mmsi in this.vessel) {
                    const target = this.vessel[mmsi];

                    const top = target.marker.getLatLng()
                    // console.log(location)
                    const d = this.distance(top['lat'], top['lng'], location['lat'], location['lon']);
                    if (d) {
                        const status = parseInt(location['status']);
                        if (status === 1 || status === 2 || status === 3) {
                            target.marker.setIcon(target.stopicon);
                        } else {
                            target.marker.setIcon(target.icon);
                        }
                        // console.log('>>> ' + mmsi + ' was moved ' + d)
                        target.counter++;
                        const duration = 1000;
                        if (target.P) {
                            // const duration = target.profeel.AISclass === 'A' ? 500 : 1000;
                            const opacity = location['sog'] > 0.5 ? 1.0 : 0.5;
                            target.marker.setOpacity(opacity);
                        }
                        target.marker.setRotationAngle(location['hdg']);
                        target.marker.setOpacity(1.0);
                        const lonlat = L.latLng(location['lat'], location['lon']);
                        if (this.isWindowActive) {
                            target.marker.moveTo(lonlat, duration);
                        } else {
                            target.marker.setLatLng(lonlat);
                        }
                    } else {
                        if (isNaN(d)) {
                            console.log(mmsi + ' NaN at ' + top + ' and ' + location)
                        }
                        // console.log('distance = ' + d)
                    }
                }
            }

// ---------------------------------------------------------------------
            expire(mmsi) {
                if (mmsi in this.vessel) {
                    this.map.removeLayer(this.vessel[mmsi].marker);
                    delete this.vessel[mmsi];
                    console.log('--- ' + mmsi + ' was retired');
                }
            }

            distance(lat1, lng1, lat2, lng2) {
                if (lat1 !== lat2 || lng1 !== lng2) {
                    // console.log(lat1, lng1, lat2, lng2)
                    lat1 *= Math.PI / 180;
                    lng1 *= Math.PI / 180;
                    lat2 *= Math.PI / 180;
                    lng2 *= Math.PI / 180;
                    return 6371 * Math.acos(Math.cos(lat1) * Math.cos(lat2) * Math.cos(lng2 - lng1) + Math.sin(lat1) * Math.sin(lat2));
                } else {
                    console.log('*** zero distance');
                    return 0;
                }
            }
        }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// -------------------------------------------------------------------------------------------------
        const main = new Main();
// -------------------------------------------------------------------------------------------------
        let standBy = false;
        jQuery.ajax({
            url: 'shiplist',
            type: 'GET',
            dataType: 'json',
        }).done(function (data) { //console.log(data)
            for (let k in data) { //console.log(data[k]['profeel'])
                main.setProfeel(k, data[k]['profeel']);
                // main.setLocation(k, data[k]['location']);
                main.move(k, data[k]['location']);
            }
            standBy = true;
            // console.log(main.vessel)
            // alert('pause')
        });
// -------------------------------------------------------------------------------------------------

        const w = jQuery(window);
        w.on('focus', function (e) {
            main.isWindowActive = true;
            console.log('Active');
        });
        w.on('blur', function (e) {
            main.isWindowActive = false;
            console.log('not Active');
        });

        const wsURL = 'ws://' + location.host + '/ws'
        const ws = new ReconnectingWebSocket(wsURL);
        ws.onmessage = function (message) {
            const data = JSON.parse(message['data']);
            const mmsi = data['mmsi'];
            const type = data['type'];
            switch (type) {
                // case 'debut':
                //     main.append(mmsi, data['profeel'], data['location'], data['at']);
                //     break;
                case 'profeel':
                    const profeel = data['profeel'];
                    main.setProfeel(mmsi, profeel);
                    console.log('+++ ' + mmsi + ' = ' + profeel.name);
                    break;
                case 'live':
                    const location = data['location'];
                    // main.append(mmsi, location);
                    main.move(mmsi, location);
                    // console.log(location);
                    break;
                case 'retire':
                    main.expire(mmsi);
                    break;
                default:
                    break;
            }
        }
    });
</script>
</body>
</html>