<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="../static/leaflet/leaflet.css">
    <script type="text/javascript" src="../static/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="../static/js/leaflet.rotatedMarker.js"></script>
    <script type="text/javascript" src="../static/Leaflet.MovingMarker-master/MovingMarker.js"></script>
    <style>
        .map {
            width: 1024px;
            height: 768px;
        }
    </style>
</head>
<body>
<div id="map" class="map"></div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        console.log('start');

        class Location {
            constructor() {
                this.lat = 0.0;
                this.lon = 0.0;
                this.sog = 0.0;
                this.hdg = 0;
                this.isValidSOG = true;
                this.isValidHDG = true;
            }

        }

        class Ship {
            constructor(name, type) {
                this.img = type === 5 ? '../static/imgs/kaniS.png' : '../static/imgs/kameS.png';
                this.name = name;
                this.location = new Location();
                this.icon = L.icon({iconUrl: this.img});
                this.marker = L.marker(L.LatLng(0, 0), {icon: this.icon});
                this.at = new Date();
                this.show = false;
                console.log(this);
            }
        }

        let ship = [];

// -------------------------------------------------------------------------------------------------
        const baseLatLng = [1.236104, 103.835729];
// -------------------------------------------------------------------------------------------------
        const map = L.map('map');
        map.setView(baseLatLng, 14);
// -------------------------------------------------------------------------------------------------
        const tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
//            attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 19,
        });
        tileLayer.addTo(map);
// -------------------------------------------------------------------------------------------------
        const woman = L.icon({
            iconUrl: "../static/images/woman.gif",
            iconSize: [64, 64]
        });
        const marker = L.marker(baseLatLng, {icon: woman});
        marker.addTo(map);
// -------------------------------------------------------------------------------------------------
        let vessel = {};
        const enigma = L.icon({iconUrl: '../static/imgs/notEnter.png'});
        const zerolatlng = L.latLng(0, 0);
        const wsURL = 'ws://localhost:80/ws';

        jQuery.ajax({
            url: 'shiplist',
            type: 'GET',
            dataType: 'json',
        }).done(function (data) {
            for (let k in data) {
                const item = data[k]; //console.log(item);
                const profeel = item.profeel;
                const running = item.running;
                const img = profeel['aisType'] === 5 ? '../static/imgs/kaniS.png' : '../static/imgs/kameS.png';
                const icon = L.icon({iconUrl: img});
                const latlng = running.valid ? L.latLng(running.lat, running.lon) : zerolatlng;
                // const marker = L.marker(latlng, {icon: icon});
                const marker = L.Marker.movingMarker(
                    [latlng], [],
                    {
                        icon: icon,
                        autostart: false,
                        rotationAngle: 0,
                        rotationOrigin: 'center center',
                    }
                );
                vessel[k] = {
                    'at': item.at,
                    'body': profeel,
                    'icon': icon,
                    'marker': marker,
                    // 'marker': null,
                    'latlng': latlng,
                    'show': false,
                }
                if (running.valid) {
                    marker.setOpacity(0.25);
                    marker.addTo(map);
                }
                ship[k] = new Ship(profeel['name'], profeel['aisType']);
            }
        });

        let ws = new WebSocket(wsURL);
        ws.onopen = function (e) {
            console.log(e);
        }
        ws.onmessage = function (message) {
            const data = JSON.parse(message.data);
            const mmsi = data['mmsi'];
            switch (data['type']) {
                case 'retire':
                    if (mmsi in vessel) {
                        const home = vessel[mmsi];
                        // console.log(home);
                        if (home['show']) {  //console.log('$$$ remove '+ home);
                            map.removeLayer(home['marker']);
                        }
                        delete (home);
                        console.log('--- ' + mmsi + ' was expired');
                    }
                    if (mmsi in ship) {
                        const home = ship[mmsi];
                        delete (home);
                    }
                    break;
                case 'debut':
                    const body = data['body']; //console.log(body);
                    let img = body['aisType'] === 5 ? '../static/imgs/kaniS.png' : '../static/imgs/kameS.png';
                    const icon = L.icon({iconUrl: img});
                    // const marker = L.marker(zerolatlng, {
                    //     icon: icon,
                    //     bounceOnAdd: false,
                    //     bounceOnAddOptions: {duration: 500, height: 100, loop: 1},
                    //     bounceOnAddCallback: function () {
                    //         // console.log("done");
                    //     }
                    // });
                    const marker = L.Marker.movingMarker(
                        [[0, 0]], [],
                        {
                            icon: icon,
                            autostart: false,
                            rotationAngle: 0,
                            rotationOrigin: 'center center',
                        }
                    );
                    vessel[mmsi] = {
                        'at': new Date(),
                        'body': body,
                        'icon': icon,
                        'latlng': zerolatlng,
                        'marker': marker,
                        'show': false,
                    }
                    console.log('+++ ' + mmsi + ' was debut');
                    // console.log(vessel);

                    ship[mmsi] = new Ship(body['name'], body['aisType']);

                    break;
                case 'live':
                    const location = data['body'];
                    const latlng = L.latLng(location['lat'], location['lon']);
                    if (mmsi in vessel) {
                        const home = vessel[mmsi];
                        if (home.show === false) {
                            home.marker.addTo(map);
                            // home.marker.bounce({duration: 1000, height: 100});
                            home.show = true;
                        }
                        if (location['hv']) {
                            const angle = location['hdg'];
                            home.marker.setRotationAngle(angle);
                        }
                        home.marker.setOpacity(location['sog'] < 2 ? 0.5 : 1.0);
                        // home.marker.setLatLng(latlng);
                        home.marker.moveTo(latlng, 1000);
                        home.latlng = latlng;
                        // console.log(home);
                    }
                    if (mmsi in ship) {
                        const home = ship[mmsi];
                        home.location.lat = location['lat'];
                        home.location.lon = location['lon'];
                        // console.log(home);
                    }
                    break;
                default:
                    break;
            }
        }
    });
</script>
</body>
</html>